@font-face{
	font-family:Bellota-LightItalic;
	src:url(Bellota-LightItalic.otf);
}
@font-face{
	font-family:Bellota-BoldItalic;
	src:url(Bellota-BoldItalic.otf);
}
form
{
	text-align: center;
}
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.wrraper { 
    /* The image used */
    background-image: url("../images/background_images/politics.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
	height: 100%;
	min-width: 950px;
}
.login_box
{
	font-family: 'Bellota-LightItalic';
	position:relative;
	height: 425px;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
    right:100px;
	top:20%;
	width:35%;
	background-color: #ffffff;
	border: 1px solid #EDEDED;
	border-radius: 5px;
	padding: 5px;
	opacity: 0.88;

}
.header
{
	font-family: 'Bellota-BoldItalic';
	width:100%;
	height: 90px;
	background-color: #3498db;
	color:#fff;
	text-align: center;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px; 
	margin-bottom: 10px;
}
.header h1{
	font-family:'Bellota-LightItalic';
	margin-top: 0;
	margin-bottom: 10px;
	color:#fff;
	text-shadow:#000 0.5px;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 7px;
	border-radius:3px;
	border:0.75px;
    min-width: 100px;
}
.dropdown:hover
{
	border-color:#3498db;
}
.country
{
	position: relative;
    display: inline-block;
    margin-top: 7px;
    border:0.75px;
	border-radius:3px;
}
.country:hover
{
	border-color:#3498db;
}
.party
{
	position: relative;
    display: inline-block;
    margin-top: 7px;
    border:0.75px;
	border-radius:3px;
}
.party:hover
{
border-color:#3498db;	
}

input[type="submit"]
{
	background-color:#3498db; 
	border-radius:3px;
	border: 1px solid #3498db;
	margin: 7px 0px 7px 0px;
	padding:5px 10px 5px 10px;
	color:#fff;
	font-family:'Bellota-LightItalic';
}
input[type="email"],input[type="password"]
{
	border:1px solid #e5e5e5;
	margin-top: 7px;
	padding-left: 5px;
	border-radius:3px;
	height: 20px;
	width:250px;
	min-width: 100px;

}
input[type="email"]:hover,input[type="password"]:hover
{
	border-color:#3498db;
}



